<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
            <br><br>
            <ul class="list-group" *ngIf="onlyOdd">
                <li class="list-group-item" [ngClass]="{even: even%2==0}" *ngFor="let even of evenNumbers">
                    {{even}}
                </li>
            </ul>
            <ul class="list-group" *ngIf="!onlyOdd">
                <li class="list-group-item" [ngClass]="{odd: odd%2!==0}" *ngFor="let odd of oddNumbers">
                    {{odd}}
                </li>
            </ul>
            <p appBasicHighLight>I will change color.</p>
            <p appBetterHighlight>I will change color.</p>
        </div>
    </div>
</div>